.note-container {
    width: 600px;
    display: flex;
    margin-bottom: 10px;

}

.note-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note-title {
    font-size: 22px;
    font-weight: bolder;
    font-weight: 800;
    text-transform: capitalize;
    color: hsl(51, 100%, 35%);
}

.note-delete-button {
    margin-right: 20px;
    font-size: 10px;
    color: hsl(0, 0%, 70%);;
}

.note-content {
    width: 600px;
    padding: 10px;
    font-weight: 300;
}

.note-life-line {
    width: 20px;
    border-left: 0.2px dashed hsl(0, 0%, 70%);
}

.note-life-line::after {
    content: '^';
    position: relative;
    top: calc(100% - 20px);
    left: -15.5px;
    display: block;
    transform: rotate(180deg);
    color: hsl(0, 0%, 70%);
    background-color: hsl(0, 0%, 99%);
}

.life-line-info {
    height: 10px;
    width: 55px;
    font-size: 10px;
    transform: rotate(270deg);
    position: relative;
    left: -35.5px;
    top: 20px;
    text-align: center;
    color: hsl(0, 0%, 70%);
    line-height: 12px;
}

.word-count {
    font-size: 12px;
    font-weight: 400;
    text-transform: lowercase;

    margin-left: 20px;
    margin-right: 0;
    color: hsl(0, 0%, 70%);
}